{% style %}
    .custom-img{
        height:100%;
        width:100%
    }
    .container-common{
        grid-template-columns: 1fr 1fr;
        display: grid;
        grid-gap:30px;
        padding:10px
    }
    .center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bt-w{
        background:#fff;
        border:1px solid #000;
        padding:10px 40px;
        color:#000;
        text-decoration: none;
        width:200px
    }
    .bt-bl{
        background:#000;
        border:1px solid #000;
        padding:10px 40px;
        color:#fff;
        text-decoration: none;
        margin-top:15px;
        width:200px
    }

{% endstyle %}
<div class="container-common">
    <div>
        <img class="custom-img" src="https://khoahocphattrien.vn/Images/Uploaded/Share/2016/12/20/Nhung-buc-anh-dep-nhat-2016-chia-se-tren-Flickr_4.jpg"/>
    </div>
    <div style="margin-left: 20px;transform:translateY(25%)">
        <h2>CONTACT US</h2>
        <div class="container-common" style="">
            <div style="border-right: 1px solid #000;font-size: 14px;">
              <div style="margin-top: 10px; line-height: 15px;">
                <p>EXT: 091-123-ELLA</p>
                <p>email@domain.com</p>
              </div>
              <div style="margin-top: 30px; line-height: 15px;">
                <p>685 Market Street</p>
                <p>San Francisco, CA 94105,</p>
                <p>United States</p>
              </div>
              <div style="margin-top: 30px; line-height: 15px;">
                <p>Opening Hours</p>
                <p>MON to SAT: 9:00 AM - 10:00 PM</p>
                <p>SUN: 10:00 AM - 6:00 PM</p>
              </div>
            </div>
            <div style="display: flex;flex-direction: column;align-items: center;">
                <a class="bt-w center">
                    LIVE CHAT
                </a>
                <a class="bt-bl center">
                    CONTACT US
                </a>
            </div>
        </div>
       
    </div>
</div>
{% schema %}
{
    "name":"Contact Us",
    "tag":"section",
   "settings": [
    
   ],
    "presets":[
        {
            "name":"Contact Us" 
        }
    ]
}
{% endschema %}