<div>
   <div style="display: flex;align-items:center;justify-content:center; flex-direction: column;text-align: center;" class="page-width">
    {% render "breadcrumbs" %}
    <h2 style="font-weight:600 ;">{{section.settings.title}}</h2>
    <p style="color:#999">{{section.settings.content}}</p>
   </div>
   
</div>
{% schema %}
{
    "name":"custom text",
    "tag":"section",
   "settings": [
        {
            "type": "text",
            "id":"title",
            "default":"ABOUT US 1",
            "label":"title"
        },
        {
            "type": "text",
            "id":"content",
            "default":"Cosmo lacus meleifend menean diverra loremous. Nullam sit amet orci rutrum risus laoreet semper vel non magna. Mauris vel sem a lectus vehicula ultricies. Etiam semper sollicitudin lectus indous scelerisque.",
            "label":"content"
        }
   ],
    "presets":[
        {
            "name":"custom text" 
        }
    ]
}
{% endschema %}