{{"common.css" | asset_url | stylesheet_tag}}
<div class="page-width center flex_column " >
    <h3>{{section.settings.title}}</h3>
    <p class="mt_10">{{section.settings.content}}</p>
   <div class="button_white center font_600 mt_10" style="font-size: 16px;text-transform: uppercase;">
        {{section.settings.text_button}}
   </div>
</div>
{% schema %}
{
    "name":"Customer Review",
    "tag":"section",
   "settings": [
    {
        "type": "text",
        "id": "title",
        "default": "CUSTOMER REVIEWS",
        "label": "title"
    },
    {
        "type": "text",
        "id": "content",
        "default": "No reviews yet",
        "label": "content"
    },
    {
        "type": "text",
        "id": "text_button",
        "default": "write a review",
        "label": "text button"
    },
    {
        "type": "checkbox",
        "id": "check_button",
        "default":false,
        "label": "check_button"
    }
   ],
    "presets":[
        {
            "name":"Customer Review" 
        }
    ]
}
{% endschema %}