<div>
    <!-- {% render "breadcrumbs" %} -->
    thanh kaka
</div>
{% schema %}
{
    "name":"custom text",
    "tag":"section",
   "settings": [
    
   ],
    "presets":[
        {
            "name":"custom text" 
        }
    ]
}
{% endschema %}