{% style %}
.card-container{
    display:gird;
    min-height:300px
}
.card-child-container{
    position: relative;overflow: hidden;display: flex;justify-content: center;align-items: center; min-height:300px;
}
.row-1{
    grid-template-columns:1fr ;
}
.row-2{
    grid-template-columns:1fr 1fr ;
}
.row-3{
    grid-template-columns:1fr 1fr 1fr;
}
.row-4{
    grid-template-columns:1fr 1fr 1fr 1fr;
}
.custom-img{
    width:100%;
    position:absolute;
    z-index:-1;
    height:100%
}

{% endstyle %}

<div class="page-width" style="height:100%">
    <div class="card-container row-{{section.settings.columns}}">
        {% for block in section.blocks %}
            {% assign item = block.settings %}
            <div class="card-child-container">
                {% if item.img_bakground != blank %}
                    <img src="{{item.img_bakground | img_url: 'medium'}}" loading="lazy" class="custom-img"/>
                {% else %}
                    {{ 'image' | placeholder_svg_tag: 'custom-img' }} 
                {% endif %}
                <div>thanh kaka</div>
            </div>
        {% endfor %}
    </div>
</div>

{% schema %}
{
    "name":"home-list-collection",
    "tag":"section",
    "settings":[
        {
            "type":"range",
            "id":"columns",
            "default":1,
            "min":1,
            "max":4,
            "label":"check columns"
        }
    ],
    "blocks":[
        {
            "type":"image",
            "name":"image block",
            "settings":[
                {
                    "type":"image_picker",
                    "id":"img_background",
                    "label":"img background"
                },
                {
                    "type":"text",
                    "id":"title",
                    "default":"title demo",
                    "label":"img background"
                },
                {
                    "type":"url",
                    "id":"url_click",
                    "label":"img background"
                }
               
            ]
        }
    ],
   "presets": [
    {
        "name":"home list collection"
    }
   ]
}
{% endschema %}