<div>day la carousel</div>
{% schema %}
{
    "name":"home-carousel",
    "tag":"section",
    "settings":[
        {
            "type":"range",
            "id":"columns_num",
            "default":1,
            "min":1,
            "max":4,
            "label":"check columns"
        }
    ],
    "presets": [
    {
        "name":"Carousel"
    }
   ]
}
{% endschema %}