<div>
    <div>
        <img style="width: 100px;height:100px" src="https://khoahocphattrien.vn/Images/Uploaded/Share/2016/12/20/Nhung-buc-anh-dep-nhat-2016-chia-se-tren-Flickr_4.jpg"/>
        <p>Lorem De Dorus</p>
        <p>
            Cosmo lacus meleifend menean diverra loremous. Nullam sit amet orci rutrum risus laoreet semper vel non magna. Mauris vel sem a lectus vehicula ultricies. Etiam semper sollicitudin lectus indous scelerisque.</p>
        <a>Learn How</a>
    </div>
</div>
{% schema %}
{
    "name":"multicolumn page",
    "tag":"section",
   "settings": [
    
   ],
    "presets":[
        {
            "name":"multicolumn page" 
        }
    ]
}
{% endschema %}