.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex_column{
    flex-direction: column;
}
.flex_row{
    flex-direction: row;
}
/* custom select bỏ phần boder của select */
.custom-select-none{
    border: 0px !important;
}
.custom-select-none:focus-visible{
    border: 0px !important;
    outline: 0;
    outline-offset: 0;
    box-shadow: none;
}
/* marrgin */
.mt_10{
    margin-top: 10px;
}
.mt_20{
    margin-top: 20px;
}
.mt_30{
    margin-top: 30px;
}
.mt_40{
    margin-top: 40px;
}
.mt_50{
    margin-top: 50px;
}
.mb_50{
    margin-bottom: 50px;
}
.mb_40{
    margin-bottom: 40px;
}
.pt_50{
    padding-top: 50px;
}
/* text */
.text_link{
    color:#000;
    text-decoration: none;
}
.font_600{
    font-weight: 600;
}
/* button */
.button_bl{
    background: #000;
    color:#fff;
    padding: 10px 40px;
    border: 1px solid #000;
}
.button_bl:hover{
    background: #fff;
    color:#000;
   
}
.button_white{
    background: #fff;
    color:#000;
    padding: 10px 40px;
    border: 1px solid #000;
}
.button_white:hover{
    background: #000;
    color:#fff;
   
}
.container-common{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    grid-gap:30px
}
.container-row{
    display: grid;
    grid-gap:30px
}


/* .container-row-3{
    grid-template-columns: 1fr 1fr 1fr;
}
.height-row-3{
    height:450px;
}
@media screen and (max-width:1200px) {
}
@media screen and (max-width:992px) {
    .height-row-3{
        height: 400px;
        }
}
@media screen and (max-width:768px) {
    .height-row-3{
        height: 300px;
        }
}
@media screen and (max-width:576px) {
    .container-row-3{
        grid-template-columns: 1fr;
    }
    .height-row-3{
        min-height: 600px;
        }
}
@media screen and (max-width:600px) {
}
@media screen and (max-width:450px) {
} */
