.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* custom select bỏ phần boder của select */
.custom-select-none{
    border: 0px !important;
}
.custom-select-none:focus-visible{
    border: 0px !important;
    outline: 0;
    outline-offset: 0;
    box-shadow: none;
}
@media screen and (max-width:768px) {
    .card-child-container{
        min-height:200px;
    }
}