.blog-container{
    grid-template-columns: 1fr 3fr;
    display: grid;
    grid-gap:30px;
}
.text_link:hover{
    text-decoration:underline;
    color:#000
}
.image_small {
    width: 100%;
    height:200px
}