.list-product{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    width: 100%;
    grid-gap: 30px;
    margin-bottom: 50px;
}
.custom-card{
    height: 500px;
    width:100%;
    transition: all 1s;   
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
}
.wrap-img{
    width:100%;
    height:350px;
    overflow: hidden;
    position:relative
}
.img-card{
    width:100%;
    height:100%;
    position:absolute;
    z-index: 0;
}
.text-button{
    position: absolute;
    bottom: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 100%;
    height: 50px;
    border:1px solid #000;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    opacity: 0;
}
.custom-card:hover .text-button{
    bottom: 0;
    transition: all 1s;
    opacity: 1;
}
.icon-group{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction:column;
    width: 100%;
    height: 50px;  
    right: 0;
    opacity: 0;  
    margin-top:5%;
  
}
.custom-card:hover .icon-group{
    right: 7%;
    transition: all 1s;
    opacity: 1;  
}
.icon-group .child-icon{
    color:#000
}

.wrap-content{
text-align:center;
margin-top:10px;
}
.wrap-content .tags{
    color:gray;
    text-transform: uppercase;
    font-size:13px;
}
.custom-a{
    color:#000;
    text-decoration: none;
}
.container-row-4{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.height-row-4{
    height:450px;
}
@media screen and (max-width:1200px) {
}
@media screen and (max-width:992px) {
    .list-product{
        grid-template-columns: 1fr 1fr 1fr ;
        }
}
@media screen and (max-width:768px) {
    .list-product{
        grid-template-columns: 1fr 1fr  ;
        }
}

@media screen and (max-width:576px) {
  
}
@media screen and (max-width:600px) {
}
@media screen and (max-width:450px) {
    .list-product{
        grid-template-columns: 1fr   ;
        }
}